name: Deploy to Hugging Face Space

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Push to HF Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "github-actions"

          git clone https://harishsahadev:${HF_TOKEN}@huggingface.co/spaces/harishsahadev/toxic-comment-detector space
          rsync -av --delete --exclude='.git' --exclude='.github' ./ space/ || true
          cd space
          git add .
          git commit -m "Update Space" || true
          git push
